// ------------------------------------------------------------------
// Defaults
// ------------------------------------------------------------------

$mq-breakpoints: (
	palm:480px,
	lap:768px,
	desk:1024px
);
