// Fonts

@font-face {
	font-family:Permanent Marker;
	font-style:normal;
	font-weight:400;
	src:
		local('Permanent Marker'),
		local('PermanentMarker'),
		url(../fonts/permanent-marker.woff) format('woff');
}
