/* Footer */

.footer {
	padding: 2rem;
	background: #383838;
	}
	.footer__text {
		margin: 0;
		text-align: center;
		font: 2rem/1 Permanent Marker, sans-serif;
		}
	.footer__link {
		color: #5ac1f2;
		text-decoration: none;
		}
