// ------------------------------------------------------------------
// List
// ------------------------------------------------------------------

.list {

	column-count:1;
	column-gap:0;

	@include mq($from:palm) {
		column-count:2;
		}
	@include mq($from:lap) {
		column-count:3;
		}

	// Title

	&__title {
		position:absolute;
		right:0;
		bottom:0;
		left:0;
		background:rgba(56, 56, 56, 0.5);
		color:#FFF;
		text-align:center;
		font-size:25px;
		line-height:37px;
		vertical-align:middle;
		height:0;
		overflow:hidden;
		transition:height 0.2s linear;
		}

	// Item

	&__item {

		position:relative;
		display:block;
		padding-bottom:62.5%;
		height:0;
		break-inside:avoid;
		text-decoration:none;

		// Red

		&--air-horner {
			background:#1194F6 url(../images/air-horner.svg) 50% 50% / 50% auto no-repeat;
			}
		&--bus-router {
			background:#B4D1FF url(../images/bus-router.svg) 50% 50% / 48% auto no-repeat;
			}
		&--dev-opera {
			background:#FFF url(../images/dev-opera.svg) 50% 50% / 45% auto no-repeat;
			}
		&--flipboard {
			background:#CD0000 url(../images/flipboard.svg) 50% 50% / 38% auto no-repeat;
			}
		&--flipkart {
			background:#007AD8 url(../images/flipkart.svg) 50% 50% / 38% auto no-repeat;
			}
		&--guitar-tuner {
			background:#36474F url(../images/guitar-tuner.svg) 50% 50% / 50% auto no-repeat;
			}
		&--inbox-attack {
			background:#CBDEA8 url(../images/inbox-attack.svg) 50% 50% / 55% auto no-repeat;
			}
		&--oumy {
			background:#F3FAFD url(../images/oumy.svg) 50% 50% / 45% auto no-repeat;
			}
		&--pokedex {
			image-rendering:pixelated;
			background:
				url(../images/pokedex.png) 50% 50% / 50% auto no-repeat,
				linear-gradient(to right, #78C850 50%, #A040A0 50%)
				#78C850;
			}
		&--trained-thrill {
			background:#DA50A8 url(../images/trained-thrill.svg) 50% 50% / 55% auto no-repeat;
			}
		&--twitter {
			background:#059FF5 url(../images/twitter.svg) 50% 50% / 45% auto no-repeat;
			}
		&--voice-memos {
			background:#673AB7 url(../images/voice-memos.svg) 50% 50% / auto 80% no-repeat;
			}
		&--wiki-offline {
			background:
				url(../images/wiki-offline.svg) 50% 50% / 55% auto no-repeat,
				linear-gradient(to bottom, #FEFFFC, #DFE1DE)
				#EEF0ED;
			}
		&--2048-puzzle {
			background:#EDC500 url(../images/2048-puzzle.svg) 50% 50% / 65% auto no-repeat;
			}
		&--suggest {
			background:#282828 url(../images/suggest.svg) 50% 50% / 20% auto no-repeat;
			}

		}

	// Action

	&__item:focus {
		outline:none;
		}
	&__item:hover &__title,
	&__item:focus &__title {
		height:40px;
		}

	}
