// Page

.page {

	margin:auto;
	max-width:1024px;

	background:#282828;
	font-family:Permanent Marker, sans-serif;

	// Header

	&__header {
		padding:30px 0 38px;
		text-align:center;
		font-size:50px;
		line-height:1;
		background:#383838;
		color:#FFF;
		}

	// Footer

	&__footer {
		padding:30px 0 32px;
		text-align:center;
		font-size:25px;
		line-height:1;
		background:#383838;
		color:#FFF;
		}

	// Link

	&__link {
		color:#5AC1F2;
		text-decoration:none;
		}

	}
