/* Suggest */

.suggest {
	position: relative;
	display: flex;
	padding-bottom: 2.5rem;
	background: #383838;
	text-decoration: none;
	}
.suggest::before {
	margin: auto;
	color: #fff;
	font: 10rem/1 Permanent Marker, sans-serif;
	content: '+';
	}
.suggest::after {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	bottom: 1.5rem;
	left: 1.5rem;
	border-radius: 0.8rem;
	border: 0.15rem dashed #fff;
	content: '';
	}

/* Action */

.suggest:hover,
.suggest:focus {
	outline: none;
	background: #5ac1f2;
	}
