/* Tags */

.tags {
	padding: 0.8em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: #222;
	}
	.tags__title,
	.tags__radio {
		position: absolute;
		clip: rect(0 0 0 0);
		}
	.tags__label {
		margin: 0.2rem;
		padding: 0.4rem 0.8rem;
		border-radius: 2rem;
		background: #383838;
		transition: box-shadow 0.1s linear;
		}

/* Action */

.tags__radio:hover + .tags__label,
.tags__radio:focus + .tags__label {
	box-shadow: 0 0 0 0.15rem #fff;
	}
.tags__radio:checked + .tags__label {
	background: #5ac1f2;
	}
